{<<"name">>,<<"epubnub">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"app">>,<<"epubnub">>}.
{<<"requirements">>,[{<<"hackney">>,<<"1.3.2">>},{<<"jsx">>,<<"2.7.1">>}]}.
{<<"contributors">>,[<<"Tristan Sloughter">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Erlang PubNub API">>}.
{<<"files">>,
 [<<"src/epn_basic_examples.erl">>,<<"src/epn_example_client.erl">>,
  <<"src/epubnub.app.src">>,<<"src/epubnub.erl">>,<<"src/epubnub_app.erl">>,
  <<"src/epubnub_sup.erl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"README.md">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"LGPL">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/tsloughter/epubnub">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
